@page "{id}"
@model BiblioAdmin.Pages.ShippingMethod.ReadingOneModel
@{
}

<h1>ShippingMethod ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2>Shipping Method</h2>
            <a href="/ShippingMethod/UpdatingOne/@Model.ShippingMethod.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/ShippingMethod/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/ShippingMethod/DeleteOne/@Model.ShippingMethod.Id" class="tile">
                <span class="icon-remove"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/ShippingMethod/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="ShippingMethod-Id">Id</label>
                <input id="ShippingMethod-Id" name="ShippingMethod-Id" type="text" value="@Model.ShippingMethod.Id" readonly>
            </div>
            <div>
                <label for="ShippingMethod-Name">Naam</label>
                <input id="ShippingMethod-Name" name="ShippingMethod-Name" type="text" value="@Model.ShippingMethod.Name" readonly>
            </div>
            <div>
                <label for="ShippingMethod-Description">Beschrijving</label>
                <textarea id="ShippingMethod-Description" name="ShippingMethod-Description" type="text" readonly>@Model.ShippingMethod.Description</textarea>
            </div>
            <div>
                <label for="ShippingMethod-Price">Prijs</label>
                <input id="ShippingMethod-Price" name="ShippingMethod-Price" type="text" value="@Model.ShippingMethod.Price" readonly>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table class="list">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Naam
                    </th>
                    <th>
                        Beschrijving
                    </th>
                    <th>
                        Prijs
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShippingMethodList)
                {
                    <tr>
                        <td>
                            <a href="@item.Id">Select</a> |
                        </td>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Price
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </aside>
</div>
