@page "{id}"
@model BiblioAdmin.Pages.ShippingMethod.ReadingOneModel
@{
}

<section>
    <div class="navSection">
        <h1>Shipping method details</h1>
        <div class="linksNavigatie">
            <a class="linkAsButton" href="/ShippingMethod/UpdatingOne/@Model.ShippingMethod.Id">
                Update
            </a>
            <a class="linkAsButton" href="/ShippingMethod/InsertingOne" class="tile">
                Insert
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je deze shipping methode wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.ShippingMethod.Id" class="linkAsButton">Delete</a>
            <a class="linkAsButton" href="/ShippingMethod/Index">
                Cancel
            </a>
        </div>
    </div>
    <fieldset>
        <div class="row">
            <div class="col-25">
                <label for="ShippingMethod-Id">Id</label>
            </div>
            <div class="col-75">
                <input asp-for="ShippingMethod.Id" readonly=" @(true)" >
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="ShippingMethod-Name">Naam</label>
            </div>
            <div class="col-75">
                <input id="ShippingMethod-Name" name="ShippingMethod-Name" type="text" value="@Model.ShippingMethod.Name" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="ShippingMethod-description">Beschrijving</label>
            </div>
            <div class="col-75">
                <input id="ShippingMethod-description" name="ShippingMethod-description" type="text" value="@Model.ShippingMethod.Description" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="ShippingMethod-Price">Prijs</label>
            </div>
            <div class="col-75">
                <input id="ShippingMethod-Price" name="ShippingMethod-Price" type="text" value="@Model.ShippingMethod.Price" readonly>
            </div>
        </div>

    </fieldset>
</section>


<partial name="ShippingMethod/_ReadingAll" model="Model.ShippingMethodList" />
