@model List<Bll.Customer>
@{
}



<aside >
    <table>
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Id
                </th>
                <th>
                    Voornaam
                </th>
                <th>
                    Naam
                </th>
                <th>
                    Adres
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="select" href="/Customer/ReadingOne/@item.Id">--></a> 
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Address
                    </td>
                    @*
                    <td>
                        @item.City
                    </td>
                    <td>
                        @item.PostalCode
                    </td>
                    <td>
                        @item.Country
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    *@
                </tr>
            }
        </tbody>
    </table>
</aside>
