@page "{id}"
@model BiblioAdmin.Pages.Book.ReadingOneModel
@{
    ViewData["Title"] = "Book - Read";
}

<section>
    <div class="navSection">
        <h1>Book details</h1>
        <div class="linksNavigatie">
            <a class="linkAsButton" href="/Book/UpdatingOne/@Model.Book.Id">
                Update
            </a>
            <a class="linkAsButton" href="/Book/InsertingOne" class="tile">
                Insert
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je dit Book wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.Book.Id" class="linkAsButton">Delete</a>
            <a class="linkAsButton" href="/Book/Index">
                Cancel
            </a>
        </div>
    </div>
    <fieldset>
        <div class="row">
            <div class="col-25">
                <label for="Book-Id">Id</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Id" readonly=" @(true)" >
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Author">Auteur *</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Author" readonly=" @(true)" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Title">Titel *</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Title" readonly=" @(true)" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.ImageUrl">FotoURL</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.ImageUrl" readonly=" @(true)" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Subtitle">Ondertitel</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Subtitle" readonly=" @(true)" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.PublicationDate">Publicatie datum</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.PublicationDate"  readonly=" @(true)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Publisher">Uitgever</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Publisher"  readonly=" @(true)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Category">Categorie</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Category" readonly=" @(true)" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Price">Prijs</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Price"  readonly=" @(true)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Size">Afmeting</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Size"  readonly=" @(true)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.NumberOfPages">Aantal pagina's</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.NumberOfPages"  readonly=" @(true)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Language">Taal</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.Language" readonly=" @(true)" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.ProductCode">ISBN</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.ProductCode"  readonly=" @(true)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.ProductType">Producttype</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.ProductType"  readonly=" @(true)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.ProductTypeFull">Producttype volledig</label>
            </div>
            <div class="col-75">
                <input asp-for="Book.ProductTypeFull"  readonly=" @(true)"/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="Book.Description">Omschrijving</label>
            </div>
            <div class="col-75">
                <textarea asp-for="Book.Description" readonly=" @(true)"></textarea>
            </div>
        </div>
    </fieldset>
</section>
<partial name="Book/_ReadingAll" model="Model.BookList" />
