@page "{id}"
@model BiblioAdmin.Pages.OrderItem.ReadingOneModel
@{
    ViewData["Title"] = "OrderItem - Read";
}


<section>
    <div class="navSection">
        <h1>Order Item details</h1>
        <div class="linksNavigatie">
            <a class="linkAsButton" href="/OrderItem/UpdatingOne/@Model.OrderItem.Id">
                Update
            </a>
            <a class="linkAsButton" href="/OrderItem/InsertingOne" class="tile">
                Insert
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je dit OrderItem wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.OrderItem.Id" class="linkAsButton">Delete</a>
            <a class="linkAsButton" href="/OrderItem/Index">
                Cancel
            </a>
        </div>
    </div>
    <fieldset>
        <div class="row">
            <div class="col-25">
                <label asp-for="OrderItem.Id">ID</label>
            </div>
            <div class="col-75">
                <input asp-for="OrderItem.Id" readonly=" @(true)" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="OrderItem.BookId">Titel</label>
            </div>
            <div class="col-75">
                <input id="OrderItem-BookId" name="OrderItem-BookId" type="text" value="@Model.OrderItem.Book.Title" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="OrderItem.OrderId">Order id</label>
            </div>
            <div class="col-75 displayAsInput">
                <input asp-for="OrderItem.OrderId" readonly=" @(true)" />
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label asp-for="OrderItem.Quantity">Hoeveelheid</label>
            </div>
            <div class="col-75">
                <input asp-for="OrderItem.Quantity" readonly=" @(true)" />
            </div>
        </div>
    </fieldset>
</section>
<partial name="OrderItem/_ReadingAll" model="Model.OrderItemList" />
