@page "{id}"
@model BiblioAdmin.Pages.OrderItem.ReadingOneModel
@{
}


<section>
    <div class="navSection">
        <h1>Order Item details</h1>
        <div class="linksNavigatie">
            <a class="linkAsButton" href="/OrderItem/UpdatingOne/@Model.OrderItem.Id">
                Update
            </a>
            <a class="linkAsButton" href="/OrderItem/InsertingOne" class="tile">
                Insert
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je dit OrderItem wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.OrderItem.Id" class="linkAsButton">Delete</a>
            <a class="linkAsButton" href="/OrderItem/Index">
                Cancel
            </a>
        </div>
    </div>
    <fieldset>
        <div>
            <label for="OrderItem-Id">Id</label>
            <input id="OrderItem-Id" name="OrderItem-Id" type="text" value="@Model.OrderItem.Id" readonly>
        </div>
        <div>
            <label for="OrderItem-BookId">Naam</label>
            <input id="OrderItem-BookId" name="OrderItem-BookId" type="text" value="@Model.OrderItem.Book.Author" readonly>
        </div>
        <div>
            <label for="OrderItem-OrderId">Order Nummer</label>
            <input id="OrderItem-OrderId" name="OrderItem-OrderId" type="text" value="@Model.OrderItem.OrderId" readonly>
        </div>
        <div>
            <label for="OrderItem-Quantity">Hoeveelheid</label>
            <input id="OrderItem-Quantity" name="OrderItem-Quantity" type="text" value="@Model.OrderItem.Quantity" readonly>
        </div>
    </fieldset>
</section>
<partial name="OrderItem/_ReadingAll" model="Model.OrderItemList" />
