@page "{id}"
@model BiblioAdmin.Pages.OrderItem.UpdatingOneModel
@{
}

<section>
    <div class="navSection">
        <h1>Update book</h1>
        <div class="linksNavigatie">
            <button form="updateOrderItem" type="submit" value="Update" asp-page-handler="Update">Update</button>
            <a class="linkAsButton" href="/OrderItem/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="updateOrderItem">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderItem.Id">ID</label>
                </div>
                <div class="col-75">
                    <input asp-for="OrderItem.Id" readonly=" @(true)" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderItem.BookId">Titel *</label>
                </div>
                <div class="col-75">
                    <select id="OrderItem_BookId" name="OrderItem.BookId">
                        @foreach (var item in Model.BookList)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderItem.OrderId">Order id *</label>
                </div>
                <div class="col-75">
                    @*  <input asp-for="OrderItem.OrderId" />*@
                    <select id="OrderItem_OrderId" name="OrderItem.OrderId">
                        @foreach (var item in Model.OrderList)
                        {
                            <option value="@item.Id">@item.Id</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderItem.Quantity">Hoeveelheid *</label>
                </div>
                <div class="col-75">
                    <input asp-for="OrderItem.Quantity" />
                </div>
            </div>
        </fieldset>
    </form>
</section>
<partial name="OrderItem/_ReadingAll" model="Model.OrderItemList" />