@page
@model BiblioAdmin.Pages.Order.InsertingOneModel
@{
    ViewData["Title"] = "Order - Insert";
}

<section>
    <div class="navSection">
        <h1>Insert order</h1>
        <div class="linksNavigatie">
            <button form="inputOrder" type="submit" value="Insert" asp-page-handler="Insert">Insert</button>
            <a class="linkAsButton" href="/Order/Index">
                Cancel
            </a>
        </div>
    </div>

    <form method="post" id="inputOrder">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.OrderDate">Bestel datum *</label>
                </div>
                <div class="col-75">
                    <input asp-for="Order.OrderDate" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.ShippingDate">Verzend datum*</label>
                </div>
                <div class="col-75">
                    <input asp-for="Order.ShippingDate" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.Comment">Commentaar</label>
                </div>
                <div class="col-75">
                    <input asp-for="Order.Comment" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.CustomerId">Klant *</label>
                </div>
                <div class="col-75">
                    <select id="Order_CustomerId" name="Order.CustomerId" required="required">
                        @foreach (var item in Model.CustomerList)
                        {
                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.ShippingMethodId">Verzending methode *</label>
                </div>
                <div class="col-75">
                    <select id="Order_ShippingMethodId" name="Order.ShippingMethodId" required="required">
                        @foreach (var item in Model.ShippingMethodList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.StatusId">Status *</label>
                </div>
                <div class="col-75">
                    <select id="Order_StatusId" name="Order.StatusId" required="required">
                        @foreach (var item in Model.OrderStatusList)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</section>
<partial name="Order/_ReadingAll" model="Model.OrderList" />