@page "{id}"
@model BiblioAdmin.Pages.Order.ReadingOneModel
@{
}


<h1>Order ReadingOne</h1>
<nav class="control-panel">
    <a href="/Index">
        <span>Hier komt het logo</span>
    </a>
    <h1 class="banner">Biblio Admin</h1>
</nav>
<div class="show-room entity">
    <div class="detail">
        <div class="command-panel">
            <h2>Order</h2>
            <a href="/Order/UpdatingOne/@Model.Order.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/Order/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je dit order wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.Order.Id">Delete</a>
            <a href="/Order/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="Order-Id">Id</label>
                <input id="Order-Id" name="Order-Id" type="text" value="@Model.Order.Id" readonly>
            </div>
            <div>
                <label for="Order-OrderDate">Bestel Datum</label>
                <input id="Order-OrderDate" name="Order-OrderDate" type="text" value="@Model.Order.OrderDate" readonly>
            </div>
            <div>
                <label for="Order-ShippingDate">Verzend Datum</label>
                <input id="Order-ShippingDate" name="Order-ShippingDate" type="text" value="@Model.Order.ShippingDate" readonly>
            </div>
            <div>
                <label for="Order-Comment">Opmerking</label>
                <input id="Order-Comment" name="Order-Comment" type="text" value="@Model.Order.Comment" readonly>
            </div>
            <div>
                <label for="Order-CustomerId">Klant</label>
                <input id="Order-CustomerId" name="Order-CustomerId" type="text" value="@Model.Order.Customer.FirstName @Model.Order.Customer.LastName" readonly>
            </div>
            <div>
                <label for="Order-ShippingMethodId">Verzend methode</label>
                <input id="Order-ShippingMethodId" name="Order-ShippingMethodId" type="text" value="@Model.Order.ShippingMethod.Name" readonly>
            </div>
            <div>
                <label for="Order-StatusId">Status</label>
                <input id="Order-StatusId" name="Order-StatusId" type="text" value="@Model.Order.Status.Name" readonly>
            </div>
        </fieldset>
    </div>
</div>

<partial name="Order/_ReadingAll" model="Model.OrderList" />