@page "{id}"
@model BiblioAdmin.Pages.Order.ReadingOneModel
@{
}

<section>
    <div class="navSection">
        <h1>Order details</h1>
        <div class="linksNavigatie">
            <a class="linkAsButton" href="/Order/UpdatingOne/@Model.Order.Id">
                Update
            </a>
            <a class="linkAsButton" href="/Order/InsertingOne" class="tile">
                Insert
            </a>
            <a asp-page="./ReadingOne" onclick="return confirm('Weet je zeker dat je dit Order wilt deleten?');"
               asp-page-handler="Delete" asp-route-id="@Model.Order.Id" class="linkAsButton">Delete</a>
            <a class="linkAsButton" href="/Order/Index">
                Cancel
            </a>
        </div>
    </div>
    <fieldset>
        <div class="row">
            <div class="col-25">
                <label for="Order-Id">Id</label>
            </div>
            <div class="col-75">
                <input asp-for="Order.Id" readonly=" @(true)">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="Order-OrderDate">Bestel Datum</label>
            </div>
            <div class="col-75">
                <input id="Order-OrderDate" name="Order-OrderDate" type="text" value="@Model.Order.OrderDate" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="Order-ShippingDate">Verzend Datum</label>
            </div>
            <div class="col-75">
                <input id="Order-ShippingDate" name="Order-ShippingDate" type="text" value="@Model.Order.ShippingDate" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="Order-Comment">Opmerking</label>
            </div>
            <div class="col-75">
                <input id="Order-Comment" name="Order-Comment" type="text" value="@Model.Order.Comment" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="Order-CustomerId">Klant</label>
            </div>
            <div class="col-75">
                <input id="Order-CustomerId" name="Order-CustomerId" type="text" value="@Model.Order.Customer.FirstName @Model.Order.Customer.LastName" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="Order-ShippingMethodId">Verzend methode</label>
            </div>
            <div class="col-75">
                <input id="Order-ShippingMethodId" name="Order-ShippingMethodId" type="text" value="@Model.Order.ShippingMethod.Name" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="Order-StatusId">Status</label>
            </div>
            <div class="col-75">
                <input id="Order-StatusId" name="Order-StatusId" type="text" value="@Model.Order.Status.Name" readonly>
            </div>
        </div>
    </fieldset>
    <form method="post">

        <h3>InsertingOne OrderItem</h3>
        <br />
        <fieldset>
            <input type="hidden" value="@Model.Order.Id" name="OrderItem.OrderId" />
            <div class="row">
                <div class="col-25">
                    <label asp-for="OrderItem.BookId">Book ID</label>
                </div>
                <div class="col-75">
                    <input asp-for="OrderItem.BookId" />
                    @*<select id="OrderItem_OrderId" name="OrderItem.OrderId">
                            @foreach (var item in Model.BookList)
                            {
                                <option value="@item.Id">@item.Id</option>
                            }
                        </select>*@
                </div>
            </div>
            <div class="row">
                <div class="col-25">

                    <label asp-for="OrderItem.Quantity"> Hoeveelheid</label>
                </div>
                <div class="col-75">
                    <input asp-for="OrderItem.Quantity" />
                </div>
            </div>
            <div>
                <button type="submit" value="Insert" asp-page-handler="InsertOrderItem">Insert Order Item</button>
            </div>
        </fieldset>
    </form>

</section>
<aside>
    <partial name="Order/_ReadingAll" model="Model.OrderList" />
    <form method="post">
        <h2>Order Items</h2>
        <table class="list">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        OrderId
                    </th>
                    <th>
                        BookId
                    </th>

                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderItemList)
                {
                <tr>
                    <td>
                        <button type="submit" name="OrderItem.Id" value="@item.Id" id="deleteOrderItem" asp-page-handler="DeleteOrderItem">Delete</button>
                    </td>
                    <td>
                        @item.OrderId
                    </td>
                    <td>
                        @item.BookId
                    </td>

                    <td>
                        @item.Quantity
                    </td>
                </tr>
                }
            </tbody>
        </table>
      </form>
</aside>