@page "{id}"
@model BiblioAdmin.Pages.Order.UpdatingOneModel
@{
    ViewData["Title"] = "Order - Update";
}


<section>
    <div class="navSection">
        <h1>Update Order</h1>
        <div class="linksNavigatie">
            <button form="updateOrder" type="submit" value="Update" asp-page-handler="Update">Update</button>
            <a class="linkAsButton" href="/Order/Index">
                Cancel
            </a>
        </div>
    </div>
    <form method="post" id="updateOrder">
        <fieldset>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.Id">ID</label>
                </div>
                <div class="col-75">
                    <input asp-for="Order.Id" readonly=" @(true)" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.OrderDate">Bestel datum *</label>
                </div>
                <div class="col-75">
                    <input asp-for="Order.OrderDate" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.ShippingDate">Verzend datum*</label>
                </div>
                <div class="col-75">
                    <input asp-for="Order.ShippingDate" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.Comment">Commentaar</label>
                </div>
                <div class="col-75">
                    <input asp-for="Order.Comment" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.CustomerId">Klant *</label>
                </div>
                <div class="col-75">
                    <select id="Order_CustomerId" name="Order.CustomerId" required="required">
                        @foreach (var item in Model.CustomerList)
                        {
                            <option value="@item.Id" selected="@(item.Id == Model.Order.CustomerId ? true : false)" >@item.FirstName @item.LastName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.ShippingMethodId">Verzending methode *</label>
                </div>
                <div class="col-75">
                    <select id="Order_ShippingMethodId" name="Order.ShippingMethodId" required="required">
                        @foreach (var item in Model.ShippingMethodList)
                        {
                            <option value="@item.Id" selected="@(item.Id == Model.Order.ShippingMethodId ? true : false)">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Order.StatusId">Status *</label>
                </div>
                <div class="col-75">
                    <select id="Order_StatusId" name="Order.StatusId" required="required">
                        @foreach (var item in Model.OrderStatusList)
                        {
                            <option value="@item.Id" selected="@(item.Id == Model.Order.StatusId ? true : false)">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</section>
<partial name="Order/_ReadingAll" model="Model.OrderList" />