@model List<Bll.Book>
@{
}


<aside>
    <table >
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Id
                </th>
                <th>
                    Cover
                </th>
                <th>
                    Naam
                </th>
                <th>
                    Beschrijving
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/Book/ReadingOne/@item.Id">Select</a> |
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        <img src="@item.ImageUrl" alt="Sample Image" width="50px" />
                    </td>
                    <td>
                        @item.Author
                    </td>
                    <td>
                        @item.Title
                    </td>
                    @*
                    <td>
                        @item.ImageUrl
                    </td>
                    <td>
                        @item.Subtitle
                    </td>
                    <td>
                        @item.PublicationDate
                    </td>
                    <td>
                        @item.Publisher
                    </td>
                    <td>
                        @item.Category
                    </td>
                        <td>
                            @item.Price
                        </td>
                    <td>
                        @item.Size
                    </td>
                    <td>
                        @item.NumberOfPages
                    </td>
                    <td>
                        @item.Language
                    </td>
                    <td>
                        @item.ProductCode
                    </td>
                    <td>
                        @item.ProductType
                    </td>
                    <td>
                        @item.ProductTypeFull
                    </td>
                    <td>
                        @item.Description
                    </td>
                    *@
                </tr>
            }
        </tbody>
    </table>
</aside>

