@model List<Bll.Order>
@{
}

<aside >
    <table >
        <thead>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Id
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Shipping Date
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Customer ID
                </th>
                <th>
                    Shipping Method ID
                </th>
                <th>
                    Status ID
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="select" href="/Order/ReadingOne/@item.Id">--></a> 
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.OrderDate
                    </td>
                    <td>
                        @item.ShippingDate
                    </td>
                    <td>
                        @item.Comment
                    </td>
                    <td>
                        @item.CustomerId
                    </td>
                    <td>
                        @item.ShippingMethodId
                    </td>
                    <td>
                        @item.StatusId
                    </td>
                </tr>
            }
        </tbody>
    </table>
</aside>
